body{
    background: lightyellow;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: rgb(46, 131, 184);
    padding: 20px;
    margin-top: 0;
}

.content{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.flash{
    padding: 10px;

}

.flash.success{
    border: 1px solid #21db56;
    background: #AEFFC5;
}

.flash.error{
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

.menu a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

.title{
    font-weight: bold;
    color: white;
    background: rgb(46, 131, 184);
    margin: 0;
}

.button{
    font-weight: bold;
    color: white;
    background: rgb(46, 131, 184);
    font-size: large;
    padding: 10px 70px 10px;
}

.title, .cost, .text{
    padding: 20px 10px;
    margin: 0;
    
}

.text, .back, .cost{
    background: white;
}

.cost{
    font-weight: bold;
    font-size: x-large;
}

.blue{
    color: rgb(46, 131, 184);
    font-size: 40px;
}

.back{
    padding: 20px;
}

.one{
    padding: 40px;
    display: inline;
}

.two{
    display: flex;
}