{% extends 'base.html' %}

{% block content %}
{{ super() }}
<table class="tb">
    <tr>
        <td>№ товара</td>
        <td>Название</td>
        <td>Цена, р</td>
    </tr>
    <tr>
        <td>87352</td>
        <td>RX 7600XT</td>
        <td>35 000</td>
    </tr>
    <tr>
        <td>87845</td>
        <td>RX 7700XT</td>
        <td>50 000</td>
    </tr>
    <tr>
        <td>87575</td>
        <td>RX 7800XT</td>
        <td>60 000</td>
    </tr>
    <tr>
        <td>87862</td>
        <td>RX 7900XT</td>
        <td>80 000</td>
    </tr>
</table>
{% endblock %}
