{% extends 'generator/base.html' %}
{% block content %}
    <h1>Принцип работы генератора паролей:</h1>
    <p class="text">Генератор паролей — это инструмент, который создаёт уникальные пароли путём случайной генерации букв, цифр и специальных символов.
        Количество символов в пароле выбирает пользователь.</p>
    <p class="text"> Пользователь также может выбрать, какие дополнительные функции будут в пароле:(верхний регистр, цифры, спецсимволы).</p>
    <h3>Автор: OppaiOkudasai</h3>

    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
{% endblock %}